.portfolio__cards{
    display: flex;
    width: 45%;
    height: 100%;
}

.portfolio__cards .card__media{
    width: 50%;
}

@media (max-width: 960px){
    .portfolio__cards{
        flex-direction: column;
        width: 100%;
    }

    .portfolio__cards .card__media{
        width: 100%;
    }
}