.contact__link {
  position: relative;
  text-decoration: none !important;
  overflow: hidden;
  margin: 16px 32px !important;
  display: flex;
  align-items: center;
}
.phone__number {
  margin: 0 30px;
}

.contact__link span {
  transform: translateX(-25px);
  transition: 0.3s;
}

.contact__link__icon {
  overflow: hidden;
  margin-right: 5px;
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.25s;
}

.contact__link:hover .contact__link__icon {
  transform: translateY(0);
  opacity: 1;
}
.contact__link:hover span {
  transform: translateX(0);
}

.contact__link--action {
  font-size: 20px;
  display: none;
}
.contact__img {
  height: 100%;
  width: 100%;
  max-width: 480px;
  user-select: none;
}

@media (max-width: 780px) {
  .contact__img {
    height: 250px;
    width: 100%;
    object-fit: scale-down;
  }
  .contact__link--action {
    display: inline;
  }
  .contact__link span {
    transform: translateX(0);
  }
  .contact__link__icon {
    transform: translateY(0);
    opacity: 1;
  }
}
